<div class='container'>
  <h3>Create New Post</h3>
  <form action='/posts' method='post'>
    <!-- You can be more semantic here by using the <label> tag -->
    Title <input type='text' name='new_post[title]'>
    Photo URL <input type='text' name='new_post[photo_url]'>
    <input type='submit'>
  </form>
</div>
