<h1>Make Your Comment Here</h1>
<div>
 <h3> What Do You Have To Say: </h3>
 <form action="/comments/<%=@post%>" method= "POST">
    Comment: <input type="text" name="content"></br>
    <input type="submit" value="Post Comment">
  </form>
</div>
